.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
*.pyc
*.pyo
*.pyd

.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

.DS_Store
